@{
    ViewData["Title"] = "Checkout";
}

<div style="display:block; text-align:center; margin-top:15%;">
    <p style="font-size:larger;"> Thank you for shopping with us at  <b>Joe's Store</b></p>
    <p><i class="fas fa-pizza-slice" style="font-size:150px;color:black"></i></p>

</div>